@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-dark text-white">
    <h1 class="display-4">Welcome</h1>
</div> 
<div class="bg-light text-center text-white">
    <a class="btn btn-outline-secondary" href="/Cameras/">
        <img src="~/Images/Other/DSC05092.jpg" width="400" />
        <p>Cameras</p>
    </a>
    <a>  </a>
    <a class="btn btn-outline-secondary" href="/Lenses/">
        <img src="~/Images/Other/DSC_4005.jpg" width="400" />
        <p>Lenses</p>
    </a>
    <p></p>
    <a class="btn btn-outline-secondary" href="/Accessories/">
        <img src="~/Images/Other/PIC_6368.jpg" width="400" />
        <p>Accessories</p>
    </a>
</div>
